<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1 small">Built By</span>
                        <span>
                            <a class="personal-link" href="https://www.jon-erik.dev" target="_blank"
                                    rel="noopener noreferrer">
                                <img src="/images/je_logo_w_name_dark.svg" height="36" />
                            </a>
                        </span>
                    </div>
                    <div class="col-12 small">
                        &copy; @DateTime.Now.Year by Jon-Erik Ekdahl.
                    </div>
                </div>
            </div>
            
            <div class="col d-flex align-items-center justify-content-center">
                <a class="" href="/">
                    <div>Powered By</div>
                    <img src="/images/tmdb_long_logo.svg" height="20" />
                </a>
            </div>
            
            <div class="col d-flex flex-column align-items-center justify-content-end text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.linkedin.com/in/jelekdahl" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-linkedin ps-0"></i>
                        </a>
                        <a href="https://github.com/jelekdahl" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="mailto:jelekdahl@gmail.com" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-envelope-at-fill"></i>
                        </a>
                    </div>

                    <div class="col-12 small">
                        <a href="https://www.jon-erik.dev" target="_blank" rel="noopener noreferrer">
                            Portfolio
                        </a>
                        &bull;
                        <a href="https://commentlines.up.railway.app/" target="_blank" rel="noopener noreferrer">
                            Blog
                        </a>
                        &bull;
                        <a href="https://goldentickets.up.railway.app/" target="_blank" rel="noopener noreferrer">
                            Issue Tracker
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
