@inherits LayoutComponentBase

<div class="d-flex flex-column homeStyle">
    <!-- Top Nav Bar -->
    <HomeMenu/>
    <!-- Main Content Area -->
    <main class="flex-grow-1 d-flex">
        @Body
    </main>
    <!-- Footer -->
    <footer class="flex-shrink-0">
        <Footer />
    </footer>
</div>

@code {

}
