.pageStyle {
    background: url(images/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: var(--je-title-font);
    font-size: 3rem;
    color: var(--je-theme-850);
    line-height: 3rem;
}

.subTitle {
    font-size: 1rem;
    font-family: var(--je-body-font);
}

.devicons {
    font-size: 2rem;
}

@media (min-width: 1200px) {
    .title {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .subTitle {
        font-size: 1.5rem;
    }

    .devicons {
        font-size: 2.5rem;
    }
}